fastapi
uvicorn
sqlalchemy
psycopg2-binary
asyncpg
bcrypt
python-jose[cryptography]
passlib
pydantic
email-validator
beautifulsoup4
tenacity
python-multipart
requests
pg8000
flet[all]==0.25.0
firebase-admin
websocket-client
websockets